
<form action="/admin/login" method="post" class="form-login">
					
	<h1 class="title">Login</h1>
    <hr />
           
			<div class="form">

				<input type="text" class="" name="login" placeholder="Login"/>

				<input type="password" class="" name="password" id="password"  placeholder="Senha"/>

				<div class="button">

				<input type="submit" name="submit" id="submit" class="" value="Cadastrar">

				<input type="reset" name="reset" id="reset" class="reset" value="Resetar"><br>

				</div>


					<a href="cadastro" class="link-cad">Ainda não tenho cadastro</a>
					<a href="renovaSenha" class="link-cad"> | Esqueci minha senha</a>
	            </div>

		</form>
			

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">


<link href="../custom/css/admin/login.css" rel="stylesheet">
