<div class="containerBox">
	<article class="conteudoSite">

		<div class="contato">

  		<form name="form" method="post" action="" class="formContato">

  			<h1 class="tituloForm">Formulário de Contato</h1>

  			<input type="text" name="name" id="" class="" placeholder="Nome">
  			<input type="email" name="email" id="" class="" placeholder="E-mail">
  			<input type="text" name="subject" id="" class="" placeholder="Assunto">
  			<input type="hidden" name="ip" id="" class="">

  			<textarea name="message" id="" class="" placeholder="Mensagem"></textarea>

  			<input type="submit" name="send" id="" class="" value="Enviar">
  			<input type="reset"  name="reset" id="" class="" value="Resetar">

  		</form><!-- Form -->

  		<div class="textContato">
  			
  			<h1 class="tituloTextContato">Como nos encontrar</h1>

  		</div><!-- textContato -->

  		</div><!-- conteudoSite -->
  </article>
</div>

