<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BizPage Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!--  
  <link href="../site/page/img/favicon.png" rel="icon">
  <link href="../site/page/img/apple-touch-icon.png" rel="apple-touch-icon">
  -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../site/page/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../site/page/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../site/page/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../site/page/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../site/page/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../site/page/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../site/page/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->

	  <link rel="stylesheet" href="../custom/css/body.css">
	  <link rel="stylesheet" href="../custom/css/classBody.css">
	  <link rel="stylesheet" href="../custom/css/header.css">
	  <link rel="stylesheet" href="../custom/css/classHeader.css">
	  <link rel="stylesheet" href="../custom/css/footer.css">
	  <link rel="stylesheet" href="../custom/css/classFooter.css">

	  <!-- ##### End My Style ##### -->

</head>

<body>

<header id="header" class="headerMenu">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Sociedade 404</a></h1>
        
      </div>

      <nav id="nav-menu-container">
        <ul class="ul">

			<a href="home" 		  class="a"><li class="li">Home</li></a>
			<a href="sobre" 	  class="a"><li class="li">Sobre</li></a>
			<a href="parceiros" class="a"><li class="li">Parceiros</li></a>
			<a href="produtos" 	class="a"><li class="li">Produtos</li></a>
			<a href="servicos" 	class="a"><li class="li">Serviços</li></a>
			<a href="contato" 	class="a"><li class="li">Contato</li></a>
		</ul>
	</nav>
</header>
